<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myshit</title>
    <script src="/toMyShit.js"></script>
    <script src="/toAll.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function(){
        document.getElementById('navDiv').innerHTML = nav();
        username();
        admin();
      });
    </script>
    <link rel="stylesheet" href="/myStyle.css" />
  <style>
    .hiddenSelect{
      display:none;
    }
  </style>
</head>
<body>
    <div id="navDiv"></div>
    <div>
      <table id="theTab">
        <tr>
          <td>Name of Table:</td><td><input id="inputTableName" placeholder="Name of Table"></td><td><button id="getOptions">Get All entries!</button></td>
        </tr>
        <tr id="optRow"></tr>
      </table>
      <table style="text-align:center; margin-top:30px;">
        <caption style="font-weight:bold;">Voting-Fun!</caption>
        <tr>
          <td>HTML</td><td>JavaScript</td><td>CSS</td>
        </tr>
        <tr>
          <td id="htmlVotes">{{html}}</td><td id="javascriptVotes">{{js}}</td><td id="cssVotes">{{css}}</td>
        </tr>
        <tr>
          <td><button class="voteButt" id="voteHTML" data-language="HTML">Vote HTML!</button></td>
          <td><button class="voteButt" id="voteJS" data-language="JavaScript">Vote JS!</button></td>
          <td><button class="voteButt" id="voteCSS" data-language="CSS">Vote CSS!</button></td>
        </tr>
        <tr>
          <td><button class="deleteButt" data-language="HTML">Delete HTML</button></td>
          <td><button class="deleteButt" data-language="JavaScript">Delete JS</button></td>
          <td><button class="deleteButt" data-language="CSS">Delete CSS</button></td>
        </tr>
        <tr>
          <td colspan="3">Transfer votes from one language to another:</td>
        </tr>
        <tr style="text-align:left;">
          <td>From</td>
          <td><select id="visibleSelect" ><option disabled selected></option>
              <option>CSS</option><option>HTML</option><option>JavaScript</option>
            </select></td>
          <td class="hiddenSelect">To</td>
          <td class="hiddenSelect"><select id="hiddenSelect"></select></td>
          <td class="hiddenSelect"><button id="transferButt">Transfer votes!</button></td>
        </tr>
      </table>
  </div>
  
  <div id="hiddenUsername" style="display:none;">{{username}}</div>
  <div id="hiddenAdm" style="display:none;">{{admin}}</div>
</body>
</html>